<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CoLab</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">CoLab</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Find Materials</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="/add">Add Materials</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="/cat">Get a Cat Fact</a>
                  </li>
              </ul>
            </div>
        </div>
    </nav>

    <!-- Lab materials catalog -->
    <!-- Header-->
    <header class="py-2 bg-success-subtle border border-success rounded-5">
      <div class="container px-4 px-lg-5 my-5">
          <div class="text-center text-body-secondary">
              <h1 class="display-4 fw-bolder">Welcome to CoLab</h1>
              <p class="lead fw-normal text-body-secondary mb-0">Lab Resource Sharing at UMD</p>
              <p class="fw-normal text-body-secondary mb-0">Colab is a program that will facilitate resource sharing between research groups, decrease waste, and promote inter-laboratory collaboration.</p>
          </div>
      </div>
  </header>

  <br>

  <!-- form stuff -->
  <div class="container-fluid col-sm-5"> 
    <form  action="/add" method="post">
        <div class="form-group">                   
            <label for="name">Material Name</label>
            <input type="text" name="name" class="form-control">
        </div>

        <div class="form-group">                   
            <label for="lab">Lab</label>
            <input type="text" name="lab" class="form-control">
        </div>

        <div class="form-group">                   
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control">
        </div>
        
        <div class="form-group">                   
            <label for="availability">Availability</label>
            <select name="availability" class="form-control">
                <option>Available</option>
                <option>Reserved</option>
                <option>Under Repair</option>
            </select>
        </div>
        
        <div class="form-group">                   
            <label for="phone">Phone</label>
            <input type="tel" name="phone" pattern="[0-9]{3}\-[0-9]{3}-[0-9]{4}" class="form-control">
        </div>

        <div class="form-group">                   
          <label for="preference">Contact Prefernce</label>
          <select name="preference" class="form-control">
              <option>Email</option>
              <option>Phone</option>
          </select>
        </div>

        <div class="form-group">                   
            <label for="description" class="control-label col-sm-3">Description</label>
            <div class="col-sm-12">
                <textarea name="description" rows="5" class="form-control"></textarea>
            </div>
        </div>
      
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-12">
              <input type="submit" value="Add Material" class="form-control bg-success col-sm-2 text-light">
            </div>
        </div>
    </form>

    <br>
      <div class="col-sm-offset-2 col-sm-12">
        <!-- button which takes you to / -->
        <a href="/" class="btn btn-outline-secondary col-sm-12">Go Home</a>
      </div>
    </div> 

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  
</body>
</html>
